<div class="container">
    <mat-card>
      <mat-card-content>
          <mat-card-title translate>Add Admission</mat-card-title>
          <mat-card-subtitle>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <div>
                <mat-form-field>
              <input matInput placeholder="Enter Your E-mail "  type="text" class="form-control" id="email" formControlName="email">
            </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                <input matInput placeholder="Enter Your Name "  type="text" class="form-control" id="name" formControlName="name">
              </mat-form-field>
              </div>
              <div>
                  <mat-form-field>
                  <input matInput placeholder="Enter Password  "  type="text" class="form-control" id="password" formControlName="password">
                </mat-form-field>
                </div>
              <br/>
              <br/>
  
              <button mat-raised-button color="accent" [disabled]="!myForm.valid" type="submit" >
                
                <span>add question</span>
              </button>
          </div>
  
  
        </form></mat-card-subtitle>
      </mat-card-content>
    </mat-card>
  </div>
  