
 <!-- <div class="container">
  <mat-card>
   
    <mat-card-content>
     
      <mat-card-subtitle> -->
     
        <table>
          <tr *ngFor="let question of questions" >
            <td >{{question.description}}</td>
            <td>
                <input  type="checkbox" ng-checked="[question.is_active]"   >
                {{question.is_active}}
            
            </td>
          </tr>
        </table>
       <!-- </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div> -->
