
 <div class="container">
  <mat-card>
    <p>
      <!-- <img class="logo" src="assets/ngx-rocket-logo.png" alt="angular logo"/> -->
    </p>
    <mat-card-content>
      <!-- <mat-card-title translate>{{question.rows[0].is_active}}</mat-card-title> -->
      <mat-card-subtitle>
      <ul>
        <!-- <li>{{question.rows[0].description}}</li> -->

        <!-- <li *ngFor="let question of questions?.questions| async" >{{question}}</li> -->
      </ul> 
        <!-- <li *ngFor="let question of questions| async" >{{question}}</li> -->
      </ul>

        <table>
          <tr *ngFor="let question of questions" >
            <td >{{question.description}}</td>
            <td>
            <!-- <div *ngIf="{{question.is_active}}==true">Active</div > -->

            </td>
          </tr>
        </table>
       </mat-card-subtitle>
    </mat-card-content>
  </mat-card>
</div>
